@model SystemOnboardingowy.Models.Wdrozenie
@{
    ViewData["Title"] = "Nowy Ticket";
}
<h2>Nowy Ticket</h2>
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div class="mb-3"><label>Pracownik</label><select asp-for="PracownikId" class="form-select" asp-items="ViewBag.PracownikId"></select></div>
            <div class="mb-3"><label>Start pracy</label><input asp-for="DataRozpoczeciaPracy" type="date" class="form-control" /></div>
            <button class="btn btn-success">Utwórz</button> <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </form>
    </div>
</div>