/* GŁÓWNE USTAWIENIA STRONY (DARK MODE) */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* LINKI */
a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

    a:hover {
        color: #63c7ff;
    }

/* NAGŁÓWKI */
h1, h2, h3, h4 {
    color: #ffffff;
    border-left: 5px solid #0d6efd;
    padding-left: 15px;
}

/* PASEK NAWIGACJI */
.navbar {
    background-color: #000000 !important;
    border-bottom: 2px solid #0d6efd;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.nav-link {
    color: #b0b0b0 !important;
}

    .nav-link:hover {
        color: #1e1e1e !important;
    }

/* KARTY I TABELE */
.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.table {
    color: #e0e0e0;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

    .table thead th {
        background-color: #0d47a1;
        color: white;
    }

    .table tbody tr:hover {
        background-color: #597856;
        color: #ffffff;
    }

/* FORMULARZE */
.form-control, .form-select {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
}

    .form-control:focus {
        background-color: #333;
        color: #fff;
        border-color: #0d6efd;
    }

/* STOPKA */
footer {
    background-color: #000000;
    color: #6c757d;
    border-top: 1px solid #333 !important;
}

.back {
    background-color: rgba(0, 123, 255, 0.3);
    
}

.box {
    border-color: rgba(0, 123, 255, 0.3);
}

.backcard {
    background-color: #2a4425;
    color: #ffffff;
}
